

.wireframe {
  display: flex;
  flex-wrap: wrap;
  
}

.button {
  color: #d8d9db;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  color: #d8d9db;
}

#clear {
  width: 200px;
  text-align: center;
  border-style: solid;
  border: 1px solid black;
}

#sqr {
  width: 100px;
  text-align: center;
 border: 1px solid black;
}

.sec-buttons {
  display:flex;
  flex-direction: row;
}

.third-buttons {
  display: flex;
  flex-direction: row;
}

.forth-buttons {
  display: flex;
  flex-direction: row;
}

.fifth-buttons {
  display: flex;
  flex-direction: row;
}

#zero {
  width: 300px;
  border: 1px solid black
}
